{% extends 'bloc/base.html' %}

{% block content %}
  <h1>Contactez-nous</h1>

  <div class="row">
    <div class="col-md-6">
      
      <p><strong>Adresse :</strong> 123 rue de big marsa, Tunise</p>
      <p><strong>Téléphone :</strong> 23 45 67 89</p>
      <p><strong>Fix :</strong> 75 00 67 99</p>
      <p><strong>E-mail :</strong> ArtyProd@gmail.com</p>
    </div>

    <div class="col-md-6">
      <h2>Contactez-nous</h2>
      <p>N'hésitez pas à nous contacter pour discuter de vos besoins en matière de design graphique. 
          Remplissez le formulaire ci-dessous et nous vous recontacterons dans les plus brefs délais.</p>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Nom :</label>
          <input type="text" name="name" id="name" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="email">E-mail :</label>
          <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="message">Message :</label>
          <textarea name="message" id="message" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Envoyer</button>
      </form>
    </div>
  </div>
{% endblock %}